@*@model, é como se fosse using models *@
@{
    ViewData["Title"] = "Home Page";
    string nome = "Olá, eu sou a Marli!";
}
@*@{
    string nome = "Olá, eu sou a Marli!";
}*@

<div class="text-center">
    <h1 class="display-4">Let's Go Razor</h1>
    <p>Mais uma moedinha, mais uma voltinha</p>
    <p>@DateTime.Now</p>
    <h3>@nome</h3>
</div>
